<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recursos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
     <!-- Encabezado -->
     <header class="header">
        <nav>
            <!-- logo -->
            <div id="logo">
                <!-- mas adelante se aplicaran estilos especificos al texto y se agregar un icono -->
                <a href="/">
                    <i class="fas fa-film"></i>
                    <span class="logo-text">Sonidos</span>
                </a>
            </div>
            <!-- Hipervinculos para el menu -->
            <ul class="nav-links">
                <li>
                    <a href="recursos.html">Recursos</a>
                </li>
                <li>
                    <a href="background.html">Background</a>
                </li>
                <li>
                    <a href="contacto.html">Contacto</a>
                </li>
                <li>
                    <a href="registro.html">Registrate</a>
                </li>

                <li>
                    <!-- mas adelante se aplicaran estilos especificos al texto y se agregara un icono -->
                    <a href="#" class="btn-cac">
                        <i class="fas fa-sign-in-alt"></i>

                        <span>Iniciar Sesión</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <p>
                <br><br><br><br><br><br><br><br><br><br><br>
                En esta página agregaríamos las imágenes, sonidos para descargar y mapa del lugar.
            </p>
        </section>
 
    </main> 
        <footer>
            <a href="">Términos y condiciones</a>
            <a href="">Preguntas frecuentes</a>
            <a href="">Ayuda</a>
        </footer> 
</body>
</html>